html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    font-family: "Roboto Condensed", sans-serif;
}

h4{
	
	font-size: 16pt;
	font-weight: normal;
	font-weight: normal;
	font-style: normal;
}

h5{
	font-size: 28pt;
	font-weight: normal;
	font-style: normal;
}